body {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #B0C4DE;
  
}

h1 {
  font-size:50px;

}
  
h2, h3 {
  font-size: 25px;
  
}


h4 {
  font-size:20px;
 
}

h5 {
  font-size:13px;
  
  
}
font { font-size: 12px; }
