body {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #B0C4DE;
  font-size: 14px;
}

h1 {
  font-size:50px;

}
  
h2, h3 {
  font-size: 25px;
  
}


h4 {
  font-size:20px;
  margin-bottom:-10px;
 
}

h5 {
  font-size:16px;
  margin-top:10px;
  margin-bottom:-10px;
  
}

